@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');


*{
    margin: 0;
    padding: 0;
}

.firstpg img{
    height: 100vh;
    width: 100%;
}

.firstpg .overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
}

.firstpg h5{
    color: antiquewhite;
    position: absolute;
    top: 5%;
    left: 3%;
    
}

.firstpg .scroll-text p{
    font-size: 60px;
    color: antiquewhite;
    position: absolute;
    top: 30%;
    left: 10%;
    opacity: 0;
  transform: translateX(-100%);
  animation: slide-in 2.0s ease-out forwards;
}
@keyframes slide-in {
    from {
      opacity: 0;
      transform: translateX(-100%);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }

  .firstpg .smlpara{
    color: antiquewhite;
    position: absolute;
    top: 75%;
    left: 10%;
    opacity: 0;
    transform: translateX(-100%);
    animation: slide-in 2.0s ease-out forwards;
  }
  @keyframes slide-in {
    from {
      opacity: 0;
      transform: translateX(-100%);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }

  .firstpg button{
    position: absolute;
    left: 10%;
    top: 91%;
    background-color: grey;
    color: aliceblue;
    padding: 10px 50px ;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.5s ease-out, color 0.5s ease-out;
  }

  .firstpg button:hover{
    background-color: aliceblue;
    color: grey;
    transition: ease-out 0.5s;
  }

  .secondpg .heading h4{
    margin-left:  100px;
    margin-top: 60px;
    margin-bottom: 40px;
    font-size: 45px;
    font-weight: lighter;
    
  }
  

  .secondpg .data1{
    display: flex;
    justify-content: space-evenly; 
    gap: 20px; 
   }

  .secondpg .data1 .box{
    width: 250px;
    padding: 15px;
    background-color: white;
    
  }
  .title {
    font-weight: bold;
}
.subtitle {
    font-size: 14px;
    color: gray;
}
.address {
    margin-top: 5px;
    font-size: 16px;
}
.price {
    font-weight: bold;
    font-size: 18px;
    margin-top: 10px;
}

.secondpg .data1 .box:hover{
    cursor: pointer;
    box-shadow: 0 2px 4px rgb(4, 0, 0);
}

.secondpg .imgcards{
    display: flex;
    justify-content: space-evenly; 
    gap: 20px;
    padding: 20px;
}

.secondpg .imgcards .imgcard{
    height: 400px;
    width: 500px;
    background-color: white;  
    
    
    
}

.secondpg .imgcards .imgcard img{
    width: 100%;
    height: 400px; 
    
}

.secondpg .imgcards .imgcard:hover{
    cursor: pointer;
    box-shadow: 0 2px 4px rgb(4, 0, 0);
}


 

.thirdpg{
    background-color: rgb(199, 193, 193);
    height: 100vh;
    width: 100%;
    
}

.thirdpg .imgbox{
    height: 500px;
    width: 500px;

}
.imgbox img{
    width: 100%;
    height: 100%;
    object-fit: cover;
} 

.thirdpg .content{
    display: flex;
    justify-content: space-evenly;
    padding-top: 50px;
}

.content .textarea{
    padding-left: 50px;
}

.content .textarea .text1{
    font-size: 50px;
}

.content .textarea .text2{
    margin-top: 20px;
}

.content .textarea .textbutton button{
    margin-top: 250px;
    color: aliceblue;
    background-color: rgb(70, 65, 65);
    font-weight: bold;
    padding: 10px 30px;
    border: none;
    cursor: pointer;
    transition: background-color 0.5s ease-out, color 0.5s ease-out;
  
}
.content .textarea .textbutton button:hover{
  color: rgb(70, 65, 65);
  background-color: aliceblue;
  transition: ease-out 0.5s;
}

.fourthpg{
  background-color: rgb(148, 136, 136);
  height: 100vh;
  width: 100%;
}

.fourthpg p{
  font-size: 60px;
  padding-top: 80px;
  color: aliceblue;
}

.fourthpg .fst{
  padding-left: 40%;
  
}

.fourthpg .snd{
  padding-left: 32%;
  padding-top: 0%;
}



